.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Existing styles */

.title {
    font-size: 25px;
    margin-left: 10px;
}

.show-more-button {
    background-color: #ff0000;
    /* Change to your preferred color */
    color: white;
    padding: 15px 30px;
    /* Increase padding for a larger button */
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.show-more-button:hover {
    background-color: #b30000;
    /* Change to your preferred color */
}

.sort-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.sort-button:hover {
    background-color: #0056b3;
}

/* Center the loading circle */
.loading-spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Set the height of the container to 100% of the viewport height */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    /* Add a semi-transparent background overlay */
    z-index: 999;
    /* Ensure the overlay is on top of other content */
}