/* GenreCarousel.css */

.genre-carousel {
    margin: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.genre-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    margin: 5px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    background: #f2f2f2;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, border-color 0.3s;
}

button:hover {
    background: #333;
    color: white;
    border-color: #333;
}

button.selected {
    background: #333;
    color: white;
    border-color: #333;
}

@media (max-width: 768px) {
    .genre-buttons {
        flex-direction: column;
    }

    button {
        width: 100%;
    }
}

/* Add this CSS to your GenreCarousel.css file or your preferred CSS file */
.show-list ul {
    list-style-type: none;
    /* Remove bullet points */
    padding: 0;
}

.show-list li {
    margin-bottom: 10px;
    /* Add space between list items */
    border: 1px solid #ddd;
    /* Add a border to each item */
    padding: 10px;
    background-color: #f0f0f0;
    /* Set background color */
    border-radius: 5px;
}

.show-list li:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.option {
    font-size: 25px;
}

/* Add this to your GenreCarousel.css or a separate CSS file */



/* Style for the overlay modal */
.modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Style for the modal content */
.modal {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    text-align: center;
}

/* Style for the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #555;
}

/* Style for the show title */
.show-title {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style for the show image */
.show-image {
    max-width: 100px;
    /* Set the maximum width as desired */
    max-height: 100px;
    /* Set the maximum height as desired */
    height: auto;
    margin-bottom: 10px;
}

/* Style for the show description */
.show-description {
    font-size: 16px;
    line-height: 1.4;
}

select {
    /* Styles for the select dropdown */
    appearance: none;
    /* Remove default arrow icon in some browsers */
    padding: 10px;
    /* Add padding for better spacing */
    border: 1px solid #ccc;
    /* Add a border */
    border-radius: 4px;
    /* Add rounded corners */
    font-size: 16px;
    /* Adjust the font size */
    background-color: #fff;
    /* Set the background color */
    width: 100%;
    /* Make the select element full width */
}