/* SelectedShow.css */
.selected-show-container {
    padding: 20px;
    text-align: center;
}

.selected-show-image {
    max-width: 200px;
    /* Adjust the size as needed */
    height: auto;
}

.selected-show-description {
    font-size: smaller;
    /* Adjust the font size as needed */
    margin: 10px 0;
}

.select {
    font-weight: bold;
}


/* SelectedShow.css */

/* Style the episode dropdown container */
.episode-dropdown {
    display: flex;
    flex-wrap: wrap;
}

.episode-title {
    font-size: 12px;
    font-weight: bold;
}

/* Style each episode entry in the dropdown */
.episode-entry {
    display: flex;
    align-items: center;
    margin-right: 20px;
    /* Adjust the spacing between episodes as needed */
}


/* Style the episode title */
.episode-title {
    font-size: 16px;
    font-weight: bold;
}

/* SelectedShow.css */

/* Style the episode dropdown container */
.episode-dropdown {
    display: flex;
    flex-direction: column;
    /* Display episodes in a column */
}

/* Style each episode entry in the dropdown */
.episode-entry {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* Adjust the spacing between episodes as needed */
}

/* Style the episode image */
.episode-image {
    width: 50px;
    /* Adjust the image width as needed */
    height: 50px;
    /* Adjust the image height as needed */
    margin-right: 10px;
    /* Adjust the spacing between the image and title as needed */
}

/* Style the episode title */
.episode-title {
    font-size: 1rem;
    font-weight: bold;
}

.episode-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}



.card {
    gap: 20px;
    padding: 20px;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card .audio-and-favorite {
    display: flex;
    justify-content: space-between;
}

.card .audio-and-favorite audio {
    flex: 1;
    /* Takes up all available space */
    max-width: calc(100% - 48px);
    /* Adjust max-width to create space for the IconButton */
}

.card .audio-and-favorite .favorite-icon {
    width: 48px;
    /* Set a fixed width for the IconButton */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* Add this to your SelectedShow.css */
.favorite-icon.active {
    color: red;
}

.favorite-icon:hover {
    color: #4d4c4c
}

.play_button:hover {
    color: black;
}

.go_back:hover {
    color: black;
}

.dialog_button:hover {
    color: black;
}

.dialog_text {
    color: black;
}