.show__card {
    padding: 16px;
    margin: 16px;
    width: 230px;
}

.show__card:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.2);
}

.show__card img {
    max-width: 100%;
}

.show__card h2 {
    font-size: 15px;
    margin: 8px 0;

}

.show__card p {
    font-size: 1rem;
    color: #666;
    /* Customize the color as needed */
}

.show__card button {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.show__card button:hover {
    background-color: #005bab;
}




/* ShowCard.css */
.favorite-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid transparent;
    /* Add border styling */
    border-radius: 50%;
    /* Make it round */
    cursor: pointer;
}

.favorite {
    border-color: red;
    /* Change the border color to red when marked */
}

.favorite-icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.show__align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}





.show__card {
    position: relative;
}

.dropdowns {
    /* Add the following styles to position the dropdowns properly */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Add styles for the dropdown select elements */
.dropdowns select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}