/* CSS for the main container */
.main__container {
    display: flex;
    flex: 0.8;
    margin: 0;
    padding: 0;
}

.main__content {
    padding: 40px 20px;
    padding-bottom: 0;
}


.main__container>h1 {
    margin-left: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Create a grid container for the cards */
.grid__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Three columns, equally distributed */
}



.sort-button {
    background-color: #007BFF;
    /* Button background color */
    color: white;
    /* Button text color */
    border: none;
    padding: 10px 20px;
    /* Adjust padding as needed */
    margin: 10px;
    /* Adjust margin as needed */
    cursor: pointer;
    border-radius: 5px;
    /* Rounded corners for the button */
}

.sort-button:hover {
    background-color: #0056b3;
    /* Hover background color */
}

/* Add these styles to your CSS */
.show-more-button {
    background-color: #ff0000;
    /* Change to your preferred color */
    color: white;
    padding: 15px 30px;
    /* Increase padding for a larger button */
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: block;
    /* Make it a block element */
    margin: 0 auto;
    /* Center the button horizontally */
    text-align: center;
    /* Center text within the button */
}

.show-more-button:hover {
    background-color: #b30000;
    /* Change to your preferred color */
}

/* Center the loading circle */
.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Set the height of the container to 100% of the viewport height */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    /* Add a semi-transparent background overlay */
    z-index: 999;
    /* Ensure the overlay is on top of other content */
}