/* AudioPlayer.css */
.audio-player {
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;

}

.audio-player audio {
    width: 100%;
}

.audio-player button {
    margin-top: 10px;
    background-color: #0077b6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.audio-player button:hover {
    background-color: #00557e;
}