/* SearchBar Styles */
.input__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
    /* Add a background color */
    border: 1px solid lightgray;
}

.search__icon {
    color: royalblue;
    margin: 0 10px;
    /* Add spacing between icon and input */
}

.navbar__icons {
    display: flex;
    align-items: center;
    margin-top: 5px;

}

.navbar__icon {
    margin-right: 8px;

}

.input {
    flex: 1;
    font-size: 15px;
    /* Increase font size */
    padding: 0.75rem;
    /* Increase padding */
    border-radius: 10px;
    /* Make it rounder */
    width: 100%;
    outline: none;
    font-family: 'Arial', sans-serif;
    /* Change the font */
    border-radius: 5px;
}

/* Result Box Styles */
.result__box {
    position: absolute;
    width: 100%;
    /* border: 1px solid #ccc; */
    max-height: 200px;
    overflow-y: auto;
    display: none;
    /* Initially hidden */
    z-index: 1;
    top: 100%;
    /* Position below the input */
    left: 0;
}

.result__box.show {
    display: block;
    /* Display when there are results */
}

.result__list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
}

.result {
    padding: 12px 16px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: black;
    /* Use a CSS variable for text color */
}

.result:hover {
    background-color: lightgray;
    color: royalblue;
}

/* Update the CSS for the SearchBar component to make it smaller */
.search-bar {
    display: flex;
    align-items: center;
    height: 2rem;
    /* Adjust the height as needed */
    padding: 0 10px;
    /* Adjust the padding as needed */
}

/* Update the input element within the SearchBar */
.search-bar input {
    flex: 1;
    height: 100%;
    font-size: 14px;
    /* Adjust the font size as needed */
    margin-left: 5px;
    /* Adjust the margin as needed */
}

/* If you have a search icon, update its size as well */
.search-bar .search-icon {
    font-size: 20px;
    /* Adjust the size as needed */
}



/* ============ drop down ========== */

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



/* ========== Dropdown Menu ========= */

/* Style the dropdown button */
.dropbtn {
    background-color: transparent;
    /* Transparent background */
    color: #333;
    /* Text color */
    border: none;
    /* Remove the default border */
    padding: 8px 10px;
    /* Adjust padding to make it slimmer */
    cursor: pointer;
    font-size: 16px;
    /* Set the font size */
}

/* On hover, show the dropdown content */
.dropbtn:hover {
    background-color: #f2f2f2;
    /* Background color on hover */
}

/* Style the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* Background color of the dropdown content */
    min-width: 160px;
    /* Set a minimum width */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* Add a shadow */
    z-index: 1;
    font-size: 14px;
    /* Set the font size for the links inside the dropdown */
}

/* Style the links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    /* Add padding to the links */
    text-decoration: none;
    display: block;
}



/* Show the dropdown content when hovering over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}


/* ============== Menu dropdown Styles ============== */
.button {
    text-decoration: none;
    background-color: #FF5733;
    /* Set your desired background color */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    /* Adjust spacing between elements */
    margin-bottom: 10px;
    /* Add margin between buttons */
}

.button:hover {
    background-color: #FF0000;
    /* Change color on hover */
}

/* Apply the shared styles to both buttons */
.link-button {
    text-decoration: none;

    /* Set your desired background color */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    /* Adjust spacing between elements */
    margin-bottom: 10px;
    /* Add margin between buttons */
}

.link-button:hover {
    color: red;
    /* Change color on hover */
}

.log-out-button {
    text-decoration: none;
    background-color: #f9f9f9;
    /* Set your desired background color */
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    /* Adjust spacing between elements */
    margin-bottom: 10px;
    /* Add margin between buttons */
}

.log-out-button:hover {
    color: red;
    /* Change color on hover */
}